/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0fae3;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

/* Logo + title container */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo image */
.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* Website Title */
.title {
  color: #17781c;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

/* Right side links */
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Links style */
.links a {
  text-decoration: none;
  color: #17781c;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.links a:hover {
  color: #4caf50;
}

/* Logout Button */
.logout-btn {
  background-color: #17781c;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #43a047;
}
